html { 
    position: relative;
    min-height: 100%;
}
body { 
    /* margin: 0; */
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background: #f8f9fa;
    font-family: 'Muli','Sarabun', sans-serif;
    margin: 0 0 100px;
}

.text__blue { 
    color: #83b8c9;
}

.navbar__main { 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}

.navbar-brand .brand-text{ 
    margin-left: 10px;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}
.navbar-brand .brand-subtext{ 
    font-weight: lighter;
    color: #403d44;   
}

.search__container {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
    border-radius: 30px;
    max-width: 80%;
    margin: 3rem auto;
}
.search__container .input-group-text { 
    background: white;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 1rem 1rem;
    color: #a1aac9;
}

.search__container .form-control { 
    height: inherit;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#custom-templates {
    flex: 1 1 auto;
    display: flex;
}

#custom-templates .twitter-typeahead{ 
    height: 100%;
    flex: 1 1 auto;
}

#custom-templates input::placeholder  {
    color: #d4d7e5;
}
.search__container #custom-templates input:focus  {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
}

.tt-suggestion.tt-cursor {
    background-color: #83b8c9;
    color: #FFFFFF;
}

.tt-suggestion:hover{
   cursor: pointer;
}

.tt-suggestion:hover{
    background-color: #83b8c9;
    color: #FFFFFF;
 }
 

.tt-menu.tt-open { 
    width: 95%;
    background: #fff;
}

.tt-dataset p { 
    padding: 10px;
    margin-bottom: 0;
}

.type__description { 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #6a676f;
}

.Typeahead-spinner { 
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #83b8c9;
}

.card {
    border: 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.09);
    padding: 20px;
}

.detail__main .card { 
    border: 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.09);
    min-height: 110px;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
}
.card.id{ 
    background: #ecb980;
}
.card.id .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
}
.card.id .card__subtext { 
    color: #6a676f;
}

.card.id .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

.card.name{ 
    background: #83b8c9;
}
.card.name .card__text { 
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.name .card__subtext { 
    color: #fbfbfb;
}       

.card.name .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.yearsold { 
    background-image: linear-gradient(to left ,#bcdadd, #add3db)
}

.card.yearsold .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.yearsold .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.yearsold .card__subtext { 
    color: #fbfbfb;
}       

.card.gender.male { 
    background-image: linear-gradient(to left ,#51d1ff, #78add2);
}

.card.gender.female { 
    background-image: linear-gradient(to left ,#fb8ab2, #b488e4);
}

.card.gender .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.gender .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.gender .card__subtext { 
    color: #fbfbfb;
}       


.card-title h3 { 
    font-size: 22px;
    color: #333;
}

.detail__list li { 
    border: none
}
.detail__list li:nth-child(even) { 
    background: #f2f9ff;
}
/* 
.wrapper { 
    min-height: 100%;
    position: relative;
} */
footer{ 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 30px;
}

.card.date .card__subtext{
    color: #6a676f;
}

.card.date .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #83b8c9;
}

.btn__export { 
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
    color: #03723a;
    background: #fff;
    margin-left: 1em;
    transition: all .3s ease;
}

.btn__export:hover { 
    color: #03723a;
    text-decoration: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.list__diary .list-group-item { 
    padding: 0;
    border: none;
    margin-bottom: 10px;
}

.list__diary .calendar{  
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 80px;
    
}
.list__diary li:nth-child(odd) .calendar{  
    background: #add3db;
}
.list__diary li:nth-child(even) .calendar{  
    background: #ecb980;
}

.list__diary .calendar .month { 
    color: #6a676f;
}

.list__diary .calendar .date { 
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.list__diary .calendar .year { 

    color: #6a676f;
    font-size: 15px;
}
.list__diary li:nth-child(odd) .list__diary-detail{  
    background: #f2f9ff;
}
.list__diary li:nth-child(even) .list__diary-detail{  
    background: #fbfafa;
}

.list__diary-detail { 
    padding: 10px;
}

.list__diary-detail h4{ 
    font-size: 15px;
    color: #6a676f;
}

.list__diary-detail .is__want h1 { 
    font-weight: bold;
    color: #78add2;
}
.list__diary-subtext p {
    font-size: 14px;
    margin-bottom: 5px;
}

.alluser__container { 
    max-width: 90%;
    margin : 0 auto;
}

.btn-showall-container { 
    position: relative;
    text-align: center;
}

.btn-showall-container::after { 
    
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #ccc;
    z-index: -1;
}
.btn-showall-container a {
    background: #f8f9fa;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}  

.user__list-container {

    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 20px;
}
 
.user__list { 
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    transition: all .3s ease;
}
.user__list:hover { 
    cursor: pointer;
    box-shadow: 1px 5px 20px rgba(0,0,0,0.3);
}

.user__list .avartar { 

    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}

.user__list h1{ 
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.user__list h3 { 
    margin-top: 3px;
    color: #6a676f;
    font-size: 13px;
    word-wrap: break-word;
}


.btn-toggle[aria-expanded="true"] .down { 
    display: inline;
}

.btn-toggle[aria-expanded="true"] .right { 
    display: none;
}
.btn-toggle[aria-expanded="false"] .down { 
    display: none;
}
.btn-toggle[aria-expanded="false"] .right { 
    display: inline;
}


.btn__totop { 
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #efb699;
    transition: all ease 1s;
}
.btn__totop:hover { 
    color: #ce997f;
}



#loading__black {
    z-index: 99999;
    background: rgba(0,0,0,0.3);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #d3f4fb;
}