html { 
    position: relative;
    min-height: 100%;
}
body { 
    /* margin: 0; */
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background: #f8f9fa;
    font-family: 'Muli','Sarabun', sans-serif;
    margin: 0 0 100px;
}

.text__blue { 
    color: #83b8c9;
}

.navbar__main { 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}

.navbar-brand .brand-text{ 
    margin-left: 10px;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}
.navbar-brand .brand-subtext{ 
    font-weight: lighter;
    color: #403d44;   
}

.search__container {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
    border-radius: 30px;
    max-width: 80%;
    margin: 3rem auto;
}
.search__container .input-group-text { 
    background: white;
    border: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 1rem 1rem;
    color: #a1aac9;
}

.search__container .form-control { 
    height: inherit;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#custom-templates {
    flex: 1 1 auto;
    display: flex;
}

#custom-templates .twitter-typeahead{ 
    height: 100%;
    flex: 1 1 auto;
}

#custom-templates input::placeholder  {
    color: #d4d7e5;
}
.search__container #custom-templates input:focus  {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
}

.tt-suggestion.tt-cursor {
    background-color: #83b8c9;
    color: #FFFFFF;
}
.tt-menu.tt-open { 
    width: 95%;
    background: #fff;
}

.tt-dataset p { 
    padding: 10px;
    margin-bottom: 0;
}

.type__description { 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #6a676f;
}

.Typeahead-spinner { 
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #83b8c9;
}

.card {
    border: 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.09);
    padding: 20px;
}

.detail__main .card { 
    border: 0;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.09);
    min-height: 110px;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
}
.card.id{ 
    background: #ecb980;
}
.card.id .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
}
.card.id .card__subtext { 
    color: #6a676f;
}

.card.id .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
}

.card.name{ 
    background: #83b8c9;
}
.card.name .card__text { 
    font-size: 25px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.name .card__subtext { 
    color: #fbfbfb;
}       

.card.name .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.yearsold { 
    background-image: linear-gradient(to left ,#bcdadd, #add3db)
}

.card.yearsold .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.yearsold .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.yearsold .card__subtext { 
    color: #fbfbfb;
}       

.card.gender.male { 
    background-image: linear-gradient(to left ,#51d1ff, #78add2);
}

.card.gender.female { 
    background-image: linear-gradient(to left ,#fb8ab2, #b488e4);
}

.card.gender .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.card.gender .card__text { 
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFF;
}       
.card.gender .card__subtext { 
    color: #fbfbfb;
}       


.card-title h3 { 
    font-size: 22px;
    color: #333;
}

.detail__list li { 
    border: none
}
.detail__list li:nth-child(even) { 
    background: #f2f9ff;
}
/* 
.wrapper { 
    min-height: 100%;
    position: relative;
} */
footer{ 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 30px;
}

.card.date .card__subtext{
    color: #6a676f;
}

.card.date .card__icon { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #83b8c9;
}

.btn__export { 
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.09);
    color: #03723a;
    background: #fff;
    margin-left: 1em;
    transition: all .3s ease;
}

.btn__export:hover { 
    color: #03723a;
    text-decoration: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}